@use 'src/variables.module' as *;

@mixin container {
  color: #00000066;
  margin-right: 0.25em;
  font-size: 12px;
  white-space: nowrap;
  line-height: 12px;

  img {
    height: 11px;
    margin: -8px 0 0 0;
    opacity: 0.5;
  }
  span:nth-child(3) {
    font-size: 10px;
  }
}

.real {
  @include container;
  font-weight: bold;
  span:nth-child(3) {
    font-weight: normal;
  }
}

.virtual {
  @include container;
  font-weight: normal;
  font-style: italic;
}
