@use 'src/variables.module' as *;

.container {
  z-index: 100;
  display: block;
  position: absolute;
  width: 99.5%;
  height: 3em;
  top: 4px;
  left: 0.5%;
  background-color: $primary-800;
  color: $jitwin-grey-0;
  box-shadow: #00000044 0 0 2px 2px;
  border-radius: 0 0 0 20px;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.accountBlock {
  margin-top: 4px;

  button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 0.75rem;
    margin-right: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #ff880022;
    }
  }

  @media (max-width: 712px) {
    margin-left: 2px;
    div {
      width: 0;
      visibility: hidden;
    }
  }
}

.accountText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.25em;
  white-space: nowrap;

  div:nth-child(1) {
    font-size: 14px;
    color: $primary-200;
  }
  div:nth-child(2) {
    font-size: 10px;
    color: $primary-400;
  }
}

.accountProfileImage {
  height: 2.5em;
  border-radius: 0 20% 0 20%;
  opacity: 0.75;
}

.logo {
  color: $jitwin-grey-0;
  font-size: 24px;
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-decoration: unset;
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;

  img {
    width: 0;
    visibility: hidden;
  }

  @media (max-width: 712px) {
    button {
      width: 0;
      visibility: hidden;
      margin-left: 4px;
    }
    span {
      display: block;
      visibility: hidden;
      width: 0;
    }
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 1px;
      width: auto;
      height: auto;
      visibility: visible;
      border: none;
      cursor: pointer;
    }
  }
}

.accountMenu {
  background-color: $primary-800;
  color: $jitwin-grey-0;
  box-shadow: #00000044 1px 1px 1px 1px;
  padding: 0.5em;
  display: block;
  position: absolute;
  top: 3em;
  right: 2px;

  button {
    white-space: nowrap;
    background-color: transparent;
    border: none;
    color: $jitwin-grey-0;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
    }

    &:hover {
      background-color: #ff880022;
    }
  }
}
