@use '../variables.module.scss' as *;

.container {
  display: block;
  position: absolute;
  width: 99.5%;
  height: 3em;
  top: 4px;
  left: 0.5%;
  background-color: $jitwin-mocha-800;
  opacity: 0.95;
  color: $jitwin-grey-0;
  box-shadow: #00000044 0px 0px 2px 2px;
  border-radius: 0 0 0 20px;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5rem;

  div:nth-child(1) {
    font-size: 14px;
    color: $jitwin-mocha-200;
  }
  div:nth-child(2) {
    font-size: 10px;
    color: $jitwin-mocha-400;
  }
}

.title {
  color: $jitwin-grey-0;
  font-size: 20px;
  margin-left: 0.5rem;
}
