@use '../variables.module.scss' as *;

.container {
  width: 100%;
  background-color: #ccc5a9;
  color: #00000066;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  height: 2.7rem;
  padding: 2px 6px 2px 8px;
  margin: 0 1rem;
  box-shadow: #000000bb 1.25px 1.25px 1.5px 1.5px inset;
  list-style-type: none;
  overflow: hidden;
}
