@use '../variables.module.scss' as *;

.primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $primary-600;
  border: none;
  border-radius: 20px;
  padding: 7px 12px 9px;
  color: $jitwin-grey-50;
  cursor: pointer;
  width: fit-content;
  margin: 2px 0px 0px 2px;

  &:hover {
    box-shadow: #00000022 1px 1px 2px 2px;
    margin: 0px 1px 1px 0px;
  }

  &:disabled {
    opacity: 0.5;
    color: $jitwin-mocha-400;
    cursor: auto;
    margin: 1px 0px 0px 1px;
    box-shadow: #ffffff00 0px 0px 0px 0px;
  }
}

@mixin iconBase {
  width: 1rem;
  height: 1rem;
  vertical-align: sub;
  margin-right: 0.5rem;
}

.iconEnabled {
  @include iconBase;
}

.iconDisabled {
  @include iconBase;
  opacity: 0.3;
}
