@use 'src/variables.module' as *;

.base {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $jitwin-mocha-600;
}

.container {
  background: $bg-main;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 8rem;
}

.vMargin {
  background-color: $jitwin-mocha-0;
  height: 100%;
  width: 100%;
}

.title {
  @include heading-01;
  color: $primary-400;
  text-align: center;
}

.loginButton {
  span:nth-last-child(2) {
    font-size: medium;
    color: $jitwin-mocha-200;
  }
  span:nth-last-child(1) {
    font-size: xx-large;
    margin-left: 0.25rem;
    font-weight: 800;
    color: $jitwin-mocha-0;
  }
}

.whoAmIButton {
}

.myNameIs {
  color: $jitwin-mocha-400;
  font-size: medium;
  font-weight: bold;
}
