@use 'src/variables.module' as *;

.base {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-600;
}

.container {
  background-color: $bg-main;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8rem;
}

.vMargin {
  background-color: $primary-0;
  height: 100%;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeName {
  height: 1.75em;
  color: $primary-600;

  span:nth-child(2) {
    font-weight: bold;
  }
  span:nth-child(3) {
    font-size: smaller;
  }
}

.loginButton {
  span:nth-last-child(2) {
    font-size: medium;
    color: $primary-200;
  }
  span:nth-last-child(1) {
    font-size: xx-large;
    margin-left: 0.25rem;
    font-weight: 800;
    color: $primary-0;
  }
}

.logoutMessage {
  margin-top: 1rem;
  color: $primary-400;
  font-size: 12px;
  button {
    background-color: transparent;
    border: 0;
    font-size: 12px;
    color: $primary-400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $primary-600;
    }
  }
}
